<!-- quick hack of figure template for code block description -->
<div class="flex screenshot wrap">
    <div class="flex flex--vertical grow shrink desc">
        <h3 class="flex">{{include.title}}</h3>
				<div class="flex flex--vertical"><pre class="highlight"><code>{{include.desc}}</code></pre></div>
    </div>
    <div class="flex grow shrink image">
        {% if include.url %}
            <a href="{{include.url | relative_url}}">
                <img style="width:100%" src="{{include.url | relative_url}}">
            </a>
        {% endif %}
    </div>
</div>
