<div class="flex footer">
  <div class="flex container">
    <div class="flex flex--vertical">
      <div class="flex heading">Support</div>
      <div class="flex flex--vertical links">
        <a class="page-link" href="https://cylc.discourse.group/">Forums</a>
        <a class="page-link" href="https://github.com/cylc/cylc-flow/issues">Issues</a>
      </div>
    </div>
    <div class="flex flex--vertical">
      <div class="flex heading">About</div>
      <div class="flex flex--vertical links">
          <a class="page-link" href="{{'/users' | relative_url}}">Users</a>
          <a class="page-link" href="{{'/license' | relative_url}}">License</a>
        </div>
    </div>
    <div class="flex flex--vertical">
      <div class="flex heading">Development</div>
      <div class="flex flex--vertical links">
          <a class="page-link" href="https://github.com/cylc/cylc-flow">Repository</a>
          <a class="page-link" href="https://github.com/cylc/cylc-flow/blob/master/CHANGES.md">Changes</a>
        </div>
    </div>
    <div class="flex logo ">
      <a class="flex" href="{{'/' | relative_url}}">
        <div class="flex title">
          <div class="text-red">C</div>
          <div class="text-yellow">Y</div>
          <div class="text-green">L</div>
          <div class="text-blue">C</div>
        </div>
      <div class="flex logo">
        <img src="{{ '/assets/icon-cylc.svg' | relative_url }}" alt="CYLC Logo" />
      </div>
    </a>
    </div>
  </div>
</div>