{%- comment -%}
This is the page header, and contains the Cylc logo, and menu.

The menu entries are located in the _config.yml file, in the
project root.

If you want to add a new menu entry, or modify an existing one,
change that file and either test locally or in your fork.

The checkbox input elements are used for responsive menu, do
not remove unless you know what you are doing.
{%- endcomment -%}
<header class="flex grow shrink header" role="banner">
  <div class="container jc-space-between header-collapse">
      <div class="flex grow shrink site">
        <div class="flex grow shrink flex--vertical">
          <div class="flex min">
            <label class="flex" for="toggle-checkbox">
              <img src="{{ '/assets/icon-ham.svg' | relative_url }}" alt="CYLC Ham Icon" class="icon-ham" />
            </label>
            <a class="flex" href="{{'/' | relative_url}}">
                <div class="flex title">
                  <div class="text-red">C</div>
                  <div class="text-yellow">Y</div>
                  <div class="text-green">L</div>
                  <div class="text-blue">C</div>
                </div>
              <div class="flex logo">
                <img src="{{ '/assets/icon-cylc.svg' | relative_url }}" alt="CYLC Logo" />
              </div>
            </a>
          </div>

          <input type="checkbox" id="toggle-checkbox">
          {%- include links.html -%}
        </div>
      </div>

    <div class="links">
      {%- include links.html -%}
    </div>
  </div>
</header>
