{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<header class="flex grow shrink header" role="banner">
  <div class="container jc-space-between header-collapse">
      <div class="flex grow shrink site">
        <div class="flex grow shrink flex--vertical">
          <div class="flex min">
            <label class="flex" for="toggle-checkbox">
              <img src="{{ '/assets/icon-ham.svg' | relative_url }}" alt="CYLC Ham Icon" class="icon-ham" />
            </label>
            <a class="flex" href="{{'/' | relative_url}}">
                <div class="flex title">
                  <div class="text-red">C</div>
                  <div class="text-yellow">Y</div>
                  <div class="text-green">L</div>
                  <div class="text-blue">C</div>
                </div>
              <div class="flex logo">
                <img src="{{ '/assets/icon-cylc.svg' | relative_url }}" alt="CYLC Logo" />
              </div>
            </a>
          </div>

          <input type="checkbox" id="toggle-checkbox">
          <div class="links">
							<div class="link">
									<a class="page-link" href="{{ '/' | relative_url }}">(Home)</a>
							</div>
							<div class="link">
									<a class="page-link" href="{{ '/documentation' | relative_url }}">Documentation</a>
							</div>
							<div class="link">
									<a class="page-link" href="{{ '/community' | relative_url }}">Cylc Sites</a>
							</div>
							<div class="link">
									<a class="page-link" href="{{ '/support' | relative_url }}">Support</a>
							</div>
							<div class="link">
									<a class="page-link" href="{{ '/development' | relative_url }}">Development</a>
							</div>
							<div class="link">
									<a class="page-link" href="{{ '/news' | relative_url }}">News</a>
							</div>
          </div>
        </div>
      </div>

    <div class="links">
				<div class="links">
						<div class="link">
								<a class="page-link" href="{{ '/' | relative_url }}">(Home)</a>
						</div>
						<div class="link">
								<a class="page-link" href="{{ '/documentation' | relative_url }}">Documentation</a>
						</div>
						<div class="link">
								<a class="page-link" href="{{ '/community' | relative_url }}">Cylc Sites</a>
						</div>
						<div class="link">
								<a class="page-link" href="{{ '/support' | relative_url }}">Support</a>
						</div>
						<div class="link">
								<a class="page-link" href="{{ '/development' | relative_url }}">Development</a>
						</div>
						<div class="link">
								<a class="page-link" href="{{ '/news' | relative_url }}">News</a>
						</div>
				</div>
    </div>
  </div>
</header>
