<div id="repository">
    <a class="button" href="https://github.com/cylc/cylc/releases/latest">
        Download <span id="latest-release-name"></span><br />
        <small>Released <time id="latest-release-pubdate-time" datetime=""><span id="latest-release-pubdate-text"></span></time></small>
    </a>
    <p><a class="button" href="https://github.com/cylc/cylc">Clone cylc on GitHub</a></p>
    <div id="milestone-container" style="padding-bottom:20px; margin-bottom:40px">
        <div style="float:left; width:75%">
            <a id="milestone-url" href="{{site.github.repository_url}}/milestones">
                <span id="milestone-version">retrieving repository data...</span>
            </a>
            <div id="progress-bar">
                <span id="progress-bar-inner"></span>
            </div>
        </div>
        <div id="progress">0%</div>
    </div>
    <div id="repository-releases">retrieving repository data...</div>
    <div style="margin-top:10px">
       <a href="users.html"><img src="css/logos.png"></a>
    </div>
</div>
