<div id="repository">
   <p>
    <a class="button" id="cylc7-button" href="https://github.com/cylc/cylc-flow/releases">
        <span id="cylc7-latest-release-name">(retrieving data...)</span>
        <small>PRODUCTION<br /><time id="cylc7-latest-release-pubdate-time" datetime=""><span id="cylc7-latest-release-pubdate-text"></span></time></small>
    </a>
		</p>
		<p>
    <a class="button" id="cylc8-button" href="https://github.com/cylc/cylc-flow/releases">
        <span id="cylc8-latest-release-name">(retrieving data...)</span>
        <small>PREVIEW<br /><time id="cylc8-latest-release-pubdate-time" datetime="">
								<span id="cylc8-latest-release-pubdate-text"></span></time></small>
    </a>
		</p>
    <div id="milestone-container" style="padding-bottom:20px; margin-bottom:40px">
        <div style="float:left; width:75%">
            <a id="milestone-url" href="{{site.github.repository_url}}/milestones">
                <span id="milestone-version">retrieving repository data...</span>
            </a>
            <div id="progress-bar">
                <span id="progress-bar-inner"></span>
            </div>
        </div>
        <div id="progress">0%</div>
    </div>
    <div style="margin-top:10px">
       <a href="users.html"><img src="css/logos.png" alt="Known cylc users."></a>
    </div>
</div>
