.footer {
    background: #eee;
    padding-bottom: 80px;

    .links {
        margin-top: 20px;
    }

    .heading {
        font-weight: bold;
        padding-top: 20px;
    }

    .container {
        justify-content: space-between;
        flex-wrap: wrap;

        > div {
            min-width: 250px;
        }
    }
    .logo {
        padding-top: 20px;
        .title {
          padding-top: 20px;
          font-size: 2em;
          letter-spacing: 6px;
          div {
            @extend .flex;
            // align-items: center;
          }
        }
    
        .logo {
          margin-left: 20px;
          img {
            width: 50px;
            height: 50px;;
          }
        }
    }
}