.herounit {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;

    .content {
        flex-basis: 60%;
    }

    .release {
        flex-basis: 35%;
        padding-left: 5%;
        min-height: 260px;
    }

    .download-buttons {
        flex-wrap: wrap;

        div {
            flex-basis: 45%;
        }
        label {
            font-size: 12px;
        }
    }

    .progressbar {
        width: 100%;
        height: 5px;
        background: #eee;

        .progress {
            width: 0;
            height: 5px;
            background: green;
            transition: width 2s;
        }

        .label {
            padding-top: 10px;
        }
    }
}

.usecase {
    padding-bottom: 30px;
    .wrap {
        flex-wrap: wrap;
        > div {
            flex-basis: 50%;
        }
    }
    .item {
        min-height: 70px;
    }
}

.secondary {
    padding-top: 30px;
    padding-bottom: 30px;

    .icon-workflow {
        @extend .flex;
        width: 70px;
        @extend .m-r;
    }
    .item {
        @extend .ai-center;
        div {
            @extend .m-l;
        }
    }
}

.users {
    align-content: space-between;
    .wrap {
        flex-wrap: wrap;
    }

    .icon-user {
        width: 65px;
        padding: 5px;
    }

    .mets {
       width: 155px;
       margin-bottom:10px;
    }

    .isenes {
       width: 155px;
       margin-bottom:10px;
    }

    .ncfas {
       width: 165px;
       margin-bottom:10px;
    }

    .saws {
       width: 115px;
    }

    .agbom, .moes {
       width: 105px;
    }
    .nrl, {
       width: 85px;
    }

    .coecss, {
       width: 200px;
       margin-bottom:10px;
    }
    .korea, .esiwace {
       width: 115px;
    }
    .altair {
       width: 110px;
       margin-bottom:18px;
    }
    .icm {
       width: 75px;
       margin-bottom:15px;
    }
}

.screenshot {
    .desc {
        flex-basis: 60%;
    }
    
    .image {
        flex-basis: 40%;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

// Extra
.cylc-graph {
    width: 150px !important;
}

.mapcontainer {
    width: 90%;
    padding: 20px;
    max-width: 1100px;
}

@media (max-width:732px)  {
    .herounit {
        .content {
            flex-basis: 100%;
        }

        .release {
            flex-basis: 100%;
            padding-left: 0;
        }

        .download-buttons {
            div {
                flex-basis: 100%;
                margin: 0;
            }
        }
    }

    .usecase {
        padding-bottom: 30px;
        .wrap {
            > div {
                flex-basis: 100%;
            }
            margin: 0;
        }
        .item {
            padding-bottom: 10px;
            min-height: 0;
        }
    }

    .secondary {
        .item {
            padding-bottom: 20px;
        }
    }

    .screenshot {
        .desc, .image {
            flex-basis: 100%;
        }
    
        &.wrap {
            flex-wrap: wrap;
        }
    }

    code {
        font-size: 10px;
    }
}
