<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="flex" aria-label="Content">
      <div class="container herounit">
        <div class="flex flex--vertical content">
          <h3>
            Cylc is a <b>general purpose workflow engine</b> that also
            orchestrates <b>cycling systems</b> very efficiently.
            It is used in production weather, climate, and environmental
            forecasting on HPC, but is not specialized to those domains.
          </h3>

          <p>
            Cylc is an active Open Source project
            <a href="https://github.com/cylc">on GitHub</a>.
            <br/>
            See <a href="#publications">Cylc Publications and Reports</a> below.
          </p>
        </div>

        <div class="flex flex--vertical release">
          <div class="flex flex--vertical">
            <h3 class="flex jc-center">Next Release:&nbsp;
                <a class="page-link" id="milestone-url" target="_blank"><span id="milestone-version"></span> (<span id="progress-info"></span>)</a>
            </h3>
              <div class="flex">
                <div class="progressbar" id="milestone-container">
                  <div class="progress" id="progress"></div>
                  <div class="flex label jc-space-between">
                    <span>0%</span>
                    <span>100%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex users">
        <div class="container flex--vertical">
          <div class="flex wrap">
            <div class="flex flex--vertical">
              <div class="flex item wrap">
                <a href={{'/community' | relative_url}}>
                  <img src={{'/assets/icon-niwa.png' | relative_url}} class="icon-user niwa" alt="NIWA"/>
                  <img src={{'/assets/icon-metoffice.svg' | relative_url}} class="icon-user met" alt="Met Office"/>
                  <img src={{'/assets/icon-airforce.png' | relative_url}} class="icon-user airforce" alt="US Air Force"/>
                  <img src={{'/assets/icon-nrl-small.jpg' | relative_url}} class="icon-user nrl" alt="US Navy"/>
                  <img src={{'/assets/icon-agbom.jpeg' | relative_url}} class="icon-user agbom" alt="AGBOM"/>
                  <img src={{'/assets/icon-csiro.png' | relative_url }} class="icon-user csiro" alt="CSIRO"/>
                  <img src={{'/assets/icon-moes.jpeg' | relative_url}} class="icon-user moes" alt="MOES"/>
                  <img src={{'/assets/icon-altair.png' | relative_url}} class="icon-user altair" alt="Altair"/>
                  <img src={{'/assets/icon-icm.png' | relative_url}} class="icon-user icm" alt="ICM"/>
                  <img src={{'/assets/icon-korea.png' | relative_url}} class="icon-user korea" alt="Korea"/>
                  <img src={{'/assets/icon-coecss.png' | relative_url}} class="icon-user coecss" alt="COECSS"/>
                  <img src={{'/assets/icon-mets.png' | relative_url}} class="icon-user mets" alt="METS"/>
                  <img src={{'/assets/icon-saws.jpeg' | relative_url}} class="icon-user saws" alt="SAWS"/>
                  <img src={{'/assets/icon-isenes.png' | relative_url}} class="icon-user isenes" alt="ISENES"/>
                  <img src={{'/assets/icon-ncfas.png' | relative_url}} class="icon-user ncfas" alt="NCFAS"/>
                  <img src={{'/assets/icon-esiwace.png' | relative_url}} class="icon-user esiwace" alt="ESIWACE"/>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex usecase bg-grey">
        <div class="container flex--vertical">
          <h3>
            Cylc is a <span style="color: #ff5966;" 
              >decentralised</span>, <span style="color: #00c697;" 
              >distributed</span>, <span style="color: #ffcc00;"
              >D<b>A</b>G</span> / <span style="color: #ffcc00;"
              >D<b>C</b>G</span> <span style="color: #00b3fd;">scheduler</span>.
          </h3>
          <dl>
            <dt style="color: #00b3fd;">Scheduler</dt>
            <dd>
              Cylc can schedule inter-dependent collections of tasks
              (aka workflows) to run on platforms of your choice.
            </dd>
            <dt style="color: #ff5966;">Decentralised</dt>
            <dd>
              Cylc employs a decentralised architecture where each
              workflow execution is fully independent. This means that
              workflows are isolated for robustness and Cylc deployments
              scale horizontally.
            </dd>
            <dt style="color: #00c697;">Distributed</dt>
            <dd>
              Cylc workflows can be distributed across a pool of servers to
              facilitate large multi-user setups. Workflows can distribute
              their workload across multiple platforms.
            </dd>
            <dt style="color: #ffcc00;">DAG</dt>
            <dd>
              Cylc can schedule <b>D</b>irected <b>A</b>cyclic <b>G</b>raphs
              of tasks (i.e. workflows which do not cycle) similar to other
              tools.
            </dd>
            <dt style="color: #ffcc00;">DCG</dt>
            <dd>
              Cylc's unique cycling model allows it to run cyclic workflows
              too. This makes Cylc especially powerful for cases where later
              repetitions of tasks depend on the output of earlier instances.
              Tasks can repeat on different intervals within the same workflow
              and complex inter-cycle dependencies can be defined between them.
            </dd>
          </dl>
        </div>
      </div>

      <div class="flex usecase">
        <div class="container flex--vertical">
          <div class="flex screenshot wrap">
            <div class="flex flex--vertical grow shrink desc">
              <h3 class="flex">Cylc Does Cycling Properly</h3>
              <div class="flex flex--vertical">
                <p>
                Cylc unwinds the cycle loop to get a dependency graph with
                no barrier between cycles. This allows interleaved cycles
                for:
                <ul>
                  <li>Fast catch-up from delays</li>
                  <li>Sustained high throughput off the clock</li>
                  <li>Seamless transitions between fast catch-up and
                    clock-limited real-time scheduling</li>
                </ul>
                </p>
              </div>
            </div>
            <div class="flex grow shrink image">
              <a href="{{'/assets/img/cycling.png' | relative_url}}">
                <img style="width:100%; margin-top:40px"
                     src="{{'/assets/img/cycling-trans.png' | relative_url}}">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex usecase bg-grey">
        <div class="container flex--vertical">
          <h3>Powerful User Interfaces</h3>

          <p>
            Alongside a powerful command line interface, Cylc has a web-based
            GUI for monitoring, controlling and analysing workflows.
          </p>

          <ul>
            <li>
              Monitor all your workflows from one place,
              even in a distributed deployment.
            </li>
            <li>
              Tabbed interface with multiple views catering to different
              use cases.
            </li>
            <li>
              View workflow logs, task output, timings and more.
            </li>
            <li>
              View the workflow graph live.
            </li>
            <li>
              Edit task definition on-the-fly.
            </li>
            <li>
              Manually intervene with workflow execution at runtime.
            </li>
          </ul>

          <img
            style="width: 60%"
            src="{{'/assets/ui-screenshot.png' | relative_url}}"
          />

          <h3>Jupyter Lab Integration</h3>

          Optional Jupyter Lab integration allows you to deploy the Cylc GUI
          and Jupyter Lab together, providing an all in one research platform
          ready to be deployed to on premise or cloud systems.

          <h3>Jupyter Hub Integration</h3>

          Deploy the Cylc GUI via Jupyter Hub to unlock institution-scale
          multi-user deployments with fine-grained authorisation allowing
          users to be granted permissions to view and control workflows running
          under other user accounts.

          <ul>
            <li>
              Teams can collaborate on shared projects.
            </li>
            <li>
              Different levels of support can be granted different levels
              of control of production systems.
            </li>
          </ul>
        </div>
      </div>

      <div class="flex">
        <div class="container flex--vertical">

          <h3>Why Use Cylc?</h3>

          <b>Production Ready</b>
          <ul>
            <li>Cylc is used 24/7 in production weather forecasting,
              notorious for the size and complexity of its workflows.</li>
            <li>Seamless transition from simulated time to real time
              for ease of development and testing.</li>
          </ul>

          <b>Scaling</b>
          <ul>
            <li>Each workflow gets a scheduler that runs as the user
              and relies only on the filesystem.</li>
            <li>Schedulers can be distributed over a pool of hosts, and
                jobs over job platforms.</li>
            <li>Individual workflows scale to thousands of tasks per cycle.</li>
            <li>Deployments can scale infinitely.</li>
          </ul>

          <b>Powerful UIs</b>
          <ul>
            <li>A <b>CLI</b> that can operate on multiple workflows and tasks at once.</li>
            <li>A <b>web GUI</b> with
              <a href="https://jupyter-server.readthedocs.io/en/latest/">Jupyter
                </a> extension.</li>
            <li>A <b>terminal UI</b> with control capability.</li>
         </ul>

          <b>Ease of Use</b>
          <ul>
              <li>Cylc installs from
                  <a href="https://conda-forge.org/">Conda Forge</a>
                     or <a href="https://pypi.org/">PyPI</a> and works
                  "out of the box" on a Linux host.</li>
              <li>Small workflows are easy. Many features to help with large,
                  complex workflows.</li>
            <li>With no central scheduler or database server, Cylc has low
                admin overheads and a small security footprint.</li>
            <li>Built in support for HPC resource managers like PBS and
                Slurm.</li>
          </ul>

          <b>Multi-User Installations</b>
          <ul>
            <li>Cylc leverages
                <a href="https://jupyter.org/hub">JupyterHub</a> for
              authentication and to launch Cylc UI Servers.</li>
            <li>Fine-grained authorization of control by other users.</li>
            </ul>

          <b>Advanced Scheduling</b>
          <ul>
            <li>Graph branching from optional task outputs.</li>
            <li>Supports multiple flows in the same workflow, e.g. to
              re-run a past subgraph while the main flow continues.</li>
            <li> Start a flow from anywhere in the depedency graph.</li>
            <li>Cycle interleaving: this cut catch-up from delays from ~24
                hours to ~30 minutes at NIWA.</li>
          </ul>

          <b>Resilience</b>
          <ul>
            <li>Configurable task retries.</li>
            <li>Triggering off of all task states.</li>
            <li>Comprehensive event handling.</li>
            <li>Manual job control: poll, kill, or retrigger jobs.</li>
            <li>Restart from latest state even if the scheduler was killed,
                and follow up on orphaned jobs.</li>
            <li>Cylc is cluster-aware: it can interact with jobs via multiple platform hosts.</li>
          </ul>

        </div>
      </div>

      <div class="flex usecase bg-grey">
        <div class="container flex--vertical">
          <h3 id="publications">Publications and Reports</h3>
          <p><kb>If you use Cylc</b> please cite it in your
          publications and <a href="community#user-support">let us
            know</a> if your site can be
        <a href="community#sites-using-cylc">listed on this website</a>.
          </p>

          <p style="margin-left:30px">
          <b>
            Workflow Automation for Cycling Systems: The
            Cylc Workflow Engine
          </b>
          <br />
          H. Oliver et al
          <br />
          <em>
            Computing in Science & Engineering Vol
            21, Issue 4, July/Aug 2019. DOI: 10.1109/MCSE.2019.2906593
          </em>
          <br />
          <a
            href="https://doi.org/10.1109/MCSE.2019.2906593"
            >

            <svg xmlns="https://www.w3.org/2000/svg"
                 xmlns:xlink="https://www.w3.org/1999/xlink" width="208"
                                                            height="20" role="img" aria-label="DOI:
                                                                    10.1109/MCSE.2019.2906593">
              <title>DOI: 10.1109/MCSE.2019.2906593</title>
              <linearGradient id="s" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
              <stop offset="1" stop-opacity=".1"/></linearGradient>
              <clipPath id="r"><rect width="208" height="20" rx="3" fill="#fff"/></clipPath>
              <g clip-path="url(#r)"><rect width="31" height="20" fill="#555"/>
              <rect x="31" width="177" height="20" fill="#007ec6"/><rect width="208" height="20" fill="url(#s)"/>
              </g><g fill="#fff" text-anchor="middle"
                                 font-family="Verdana,Geneva,DejaVu
                                              Sans,sans-serif"
                                 text-rendering="geometricPrecision"
                                 font-size="110">
              <text aria-hidden="true" x="165" y="150" fill="#010101"
                                                       fill-opacity=".3"
                                                       transform="scale(.1)"
                                                       textLength="210">DOI</text>
              <text x="165" y="140" transform="scale(.1)" fill="#fff"
                                                          textLength="210">DOI</text>
              <text aria-hidden="true" x="1185" y="150" fill="#010101"
                                                        fill-opacity=".3"
                                                        transform="scale(.1)"
                                                        textLength="1670">
              10.1109/MCSE.2019.2906593</text>
              <text x="1185" y="140" transform="scale(.1)" fill="#fff"
                                                           textLength="1670">10.1109/MCSE.2019.2906593</text></g>
            </svg>
          </a>
          </p>

          <p style="margin-left:30px">
          <b>
            Cylc: A Workflow Engine for Cycling Systems
          </b>
          <br />
          Oliver et al., (2018).
          <br />
          <em>
            Journal of Open Source Software, 3(27), 737.
            DOI: 10.21105/joss.00737
          </em>
          <br />
          <a
            href="https://doi.org/10.21105/joss.00737"
            >
            <img
              src="https://joss.theoj.org/papers/10.21105/joss.00737/status.svg"
              style="width:auto" />
          </a>
            <br />
          </p>

          <p style="margin-left:30px">
          <b>
            Citable DOI for Cylc code releases.
          </b>
          <br />
          <a
            href="https://zenodo.org/badge/latestdoi/1836229"
            >
            <img
              src="https://zenodo.org/badge/1836229.svg"
              style="width:auto" />
          </a>
          </p>
          <p>
          Old (2017):
          <a href="/assets/cylc-autosub-response.pdf">
            Cylc response to <i>Assessment Report on Autosubmit, Cylc and ecFlow</i>
          </a>
          </p>
        </div>
      </div>

    {%- include header.html -%}
    <script type="text/javascript">
      "use strict";

      // --- HTTP request
      /**
       * The GitHub URL for the milestones.
       * @const {string}
       */
      const MILESTONES_URL = "https://api.github.com/repos/cylc/cylc/milestones";
      /**
       * The GitHub URL for the releases.
       * @const {string}
       */
      const RELEASES_URL   = "https://api.github.com/repos/cylc/cylc/releases";
      /**
       * The GitHub URL for the tags.
       * @const {string}
       */
      const TAGS_URL = "https://github.com/cylc/cylc-flow/releases/tag/";
      /**
       * Send HTTP GET request, and invoke callback after upon response. If
       * it contains the GitHub API message, the callback is not invoked, but
       * instead it is logged ot the console as an error.
       * @param {string} url - The URL to send GET request.
       * @return {Promise} A promise.
       */
      function doGet (url) {
        return new Promise(function(resolve, reject) {
          const xhr = new XMLHttpRequest();
          xhr.open("GET", url);
          xhr.onload = function () {
            const milestones = JSON.parse(this.response);
            // GitHub API returns {documentation_url: "", message: ""} messages for rate limiting
            // see https://developer.github.com/v3/#rate-limiting
            // and https://github.com/cylc/cylc.github.io/issues/15
            if (Object.prototype.hasOwnProperty.call(milestones, 'message')) {
              // will be logged in the .catch block of the promise call
              reject(milestones.message);
            } else {
              resolve(milestones);
            }
          };
          xhr.onerror = function () {
            reject(xhr.statusText);
          };
          xhr.send();
        });
      }
      // --- Cache
      /**
       * Cache keys prefix constant.
       * @const {string}
       */
      const CACHE_KEY_PREFIX = 'cylc.progress.cached.';
      /**
       * Cache timeout constant (in seconds).
       * @const {number}
       */
      const CACHE_TIMEOUT_SECONDS = 60 * 60; /* 1 hour, 60 minutes times 60 seconds */
      /**
       * A cache that uses the browser LocalStorage. Values are stored for
       * a limit timeout. Once this timeout expires, the value is removed
       * from the cache and null is returned.
       */
      class Cache {
        /**
         * @param {number} timeout - The cache timeout expiration in seconds.
         */
        constructor(timeout) {
          this.timeout = timeout;
          this.storage = window.localStorage;
        }
        /**
         * Simply puts the value in the LocalStorage, replacing any previous value.
         * @param {string} key - The cache key.
         * @param {string} value - The value to be cached. This value will be serialized as a JSON string.
         */
        put(key, value) {
          const cached = {
            value: value,
            created: new Date().getTime()
          };
          // we always store strings in the LocalStorage, that is the reason for the JSON.stringify call
          this.storage.setItem(`${CACHE_KEY_PREFIX}${key}`, JSON.stringify(cached));
        }
        /**
         * Get the cached value if in the cache and not expired. Otherwise returns null.
         * @param {string} key - The cache key.
         * @returns {(null|Object)} Either the value cached, or null if nothing was found.
         */
        get(key) {
          try {
            const cachedJson = this.storage.getItem(`${CACHE_KEY_PREFIX}${key}`);
            if (cachedJson === null || cachedJson === undefined) {
              return null;
            }
            const cached = JSON.parse(cachedJson);
            const created = cached.created;
            const now = new Date().getTime(); // ms
            const expired = created + (this.timeout * 1000) <= now;
            // still valid, return it immediately
            if (!expired) {
              return cached.value;
            }
            // expired, remove from cache
            this.storage.removeItem(`${CACHE_KEY_PREFIX}${key}`);
            return null;
          } catch (e) {
            // e.g. SecurityError if using file:///...
            console.error(e);
            return null;
          }
        }
      }
      /**
       * A cache to prevent hitting the GitHub API unnecessarily.
       * @const {Cache}
       */
      const CACHE = new Cache(/* timeout in seconds */ CACHE_TIMEOUT_SECONDS);


      // --- Progress

      /**
       * Get the next release from a set of milestones.
       *    The next release is the milestone with the earliest due date.
       * @param {Array} milestones - array of milestone objects
       * @return {Object} The milestone with the earliest due date, or null if milestones empty.
       */
      function getNextRelease(milestones) {
          // Sort the milestones by due date
          if (!milestones) {
            console.error("Invalid milestones value");
            return null;
          }
          if (milestones instanceof Object) {
            // GitHub API returns {documentation_url: "", message: ""} messages for rate limiting
            // see https://developer.github.com/v3/#rate-limiting
            // and https://github.com/cylc/cylc.github.io/issues/15
            if (Object.prototype.hasOwnProperty.call(milestones, 'message')) {
              console.error(milestones.message)
              return null;
            }
          }
          milestones.sort((a, b) => a.due_on < b.due_on ? -1 : a.due_on > b.due_on ? 1 : 0);
          return milestones[0];
      }
      /**
       * Populate progress elements in the DOM.
       *
       * @param {number} openIssues - An integer with the number of open issues.
       * @param {number} closedIssues: An integer with the number of closed issues.
       * @param {string} title - The title of the next release.
       * @param {string} link - A URL link to the next release.
        */
      function populateProgress(openIssues, closedIssues, title, link) {
          const workProgress = closedIssues * 100 / (openIssues + closedIssues);

          const milestoneVersion = document.getElementById("milestone-version");
          milestoneVersion.innerHTML = title;

          const milestoneURL = document.getElementById("milestone-url");
          milestoneURL.setAttribute('href', link);

          const progressBarInner = document.getElementById("progress");
          progressBarInner.style.width = workProgress + "%";

          const progress = document.getElementById("progress-info");
          progress.innerHTML = Math.floor(workProgress) + "%";

          const milestoneContainer = document.getElementById("milestone-container");
          milestoneContainer.style.opacity = "1";
          milestoneContainer.style.transition = ".7s ease-in";
      }

      /**
       * @param {Object} milestones - The list of milestones.
       */
      function showProgress(milestones) {
        const nextRelease = getNextRelease(milestones);
        if (nextRelease) {
          const openIssues = nextRelease.open_issues;
          const closedIssues = nextRelease.closed_issues;
          const title = nextRelease.title;
          const link = nextRelease.html_url.replace('s/next%20release', '/' + nextRelease.number);
          populateProgress(openIssues, closedIssues, title, link);
        }
      }

      /**
       * Retrieve the milestones (progress) of the project.
       * @return {Promise} A Promise object that populates and creates DOM elements, or returns the status text on error.
       */
      function retrieveProgress() {
        const milestones = CACHE.get('milestones');
        if (milestones !== null) {
          return new Promise(function () {
            showProgress(milestones);
          })
        } else {
          // fetch from GitHub API
          return doGet(MILESTONES_URL).then(function (milestones) {
            CACHE.put('milestones', milestones);
            showProgress(milestones);
          })
        }
      }

      // --- window.onload

      /**
       * Called when the browser loads the page. It will execute two promises asynchronously,
       * one to retrieve the progress, and the other to retrieve the releases.
       * If an error occurs, it will print the error to the browser console.
       */
      window.onload = function () {
        Promise.all([
          retrieveProgress()
        ])
          .catch(function(error) {
            // Any error propagated here will be logged to the browser console
            console.log(error);
          });
      };
      </script>

  </body>

</html>
