<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <div class="flex" aria-label="Content">
      <div class="container herounit">
        <div class="flex flex--vertical content">
          <h3 class="flex">Cylc (“silk”) is a workflow engine for cycling systems</h3>
					<p>Cylc was originally developed for use in environmental forecasting
					at <a href="http://www.niwa.co.nz/">NIWA</a>. It is not actually
							specialized to forecasting, however. It is now an Open Source
			collaboration involving NIWA, <a href="http://www.metoffice.gov.uk/">Met
			Office</a>, and <a
	href="https://github.com/cylc/cylc-flow/blob/master/CONTRIBUTING.md#code-contributors">others</a>.
	It is available under the <a href="{{'/license' | relative_url}}">GPL v3 license</a>.</p>
        </div>
        <div class="flex flex--vertical release jc-space-around">
            <div class="flex flex--vertical">
          <div class="flex download-buttons">
            <div class="flex flex--vertical m-r">
              <label>Production</label>
              <a class="flex grow" id="cylc7-button">
                <button class="button flex grow">
                    <img src={{'/assets/icon-download.svg' | relative_url}} />
                    <span id="cylc7-latest-release-name"></span>
                </button>
              </a>
              <label id="cylc7-latest-release-pubdate-text"></label>
            </div>
            <div class="flex flex--vertical m-l">
                <label>Preview</label>
                <a class="flex grow" id="cylc8-button">
                  <button class="button flex grow">
                    <img src={{'/assets/icon-download.svg' | relative_url}} />
                    <span id="cylc8-latest-release-name"></span>
                  </button>
                </a>
                <label id="cylc8-latest-release-pubdate-text"></label>
              </div>
          </div>

              <h3 class="flex jc-center">Next Release:&nbsp;
                <a class="page-link" id="milestone-url" target="_blank"><span id="milestone-version"></span> (<span id="progress-info"></span>)</a>
              </h3>
              <div class="flex">
                <div class="progressbar" id="milestone-container">
                  <div class="progress" id="progress"></div>
                  <div class="flex label jc-space-between">
                    <span>0%</span>
                    <span>100%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="flex usecase bg-grey">
      <div class="container flex--vertical">
        <div class="flex">
          <h3>Use Cases for Cycing</h3>
        </div>
        
        <div class="flex wrap">
          <div class="flex flex--vertical">
            <div class="flex item">
                <li>Running successive cycles of an environmental forecasting system.</li>
            </div>
            <div class="flex item">
                <li>Splitting long model integrations into many smaller chunks, with associated processing tasks for each chunk.</li>
              </div>
          </div>

          <div class="flex flex--vertical">
              <div class="flex item">
                  <li>Running successive steps in some multi-task iterative process, such as for optimizing model parameters.</li>
              </div>
              <div class="flex item">
                <li>Processing a series of datasets (potentially concurrently, to the extent possible) as they are generated or received.</li>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="flex secondary">
        <div class="container flex--vertical">
          <div class="flex wrap">
            <div class="flex flex--vertical">
              <div class="flex item">
                  <img src={{'/assets/icon-workflow.svg' | relative_url}} class="icon-workflow" alt="Workflow Icon"/>
                  <div class="flex">Workflows are configured in a human-readable text format, with programmatic templating - so you can use software development power tools for workflow development.</div>
              </div>
              <div class="flex item">
                  <img src={{'/assets/icon-workflow.svg' | relative_url}} class="icon-workflow" alt="Workflow Icon"/>
                  <div class="flex">Scheduling is configured with an efficient cycling graph notation, and task runtime properties with an efficient inheritance hierarchy.</div>
              </div>
            
              <div class="flex item">
                  <img src={{'/assets/icon-workflow.svg' | relative_url}} class="icon-workflow" alt="Workflow Icon"/>
                  <div class="flex">Cylc respects inter-cycle dependence and is not constrained by a traditional global cycle loop, so cycles can interleave naturally for fast scheduling after delays, and for 'off the clock' operation.</div>
              </div>
              <div class="flex item">
                  <img src={{'/assets/icon-workflow.svg' | relative_url}} class="icon-workflow" alt="Workflow Icon"/>
                  <div class="flex">Cylc has low admin overhead and a small security footprint, because there is no central server process to manage workflows for all users.</div>  
              </div>
              <div class="flex item">
                  <img src={{'/assets/icon-workflow.svg' | relative_url}} class="icon-workflow" alt="Workflow Icon"/>
                  <div class="flex">Plus many other features to support both clock-triggered real time and free-flow scheduling in research and operational environments.</div>  
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="container flex--vertical">
          <p>If you use Cylc to automate your workflows, <a href="https://cylc.github.io/documentation.html#publications-citations-and-references">please cite Cylc in your publications.</a></p>
          <p><a href="mailto:hilary.oliver@niwa.co.nz">Let us know</a> if your organization can be <a href={{'/users' | relative_url}}>listed as a Cylc user</a> on this site.</p>
        </div>
      </div>

      <div class="flex users">
          <div class="container flex--vertical">
            <div class="flex wrap">
              <div class="flex flex--vertical">
                <div class="flex item wrap">
                    <a href={{'/users' | relative_url}}>
                      <img src={{'/assets/icon-metoffice.svg' | relative_url}} class="icon-user met" alt="Met Office"/>
                      <img src={{'/assets/icon-airforce.png' | relative_url}} class="icon-user airforce" alt="Air Force"/>
                      <img src={{'/assets/icon-altair.jpeg' | relative_url}} class="icon-user altair" alt="Altair"/>
                      <img src={{'/assets/icon-agbom.jpeg' | relative_url}} class="icon-user agbom" alt="AGBOM"/>
                      <img src={{'/assets/icon-csiro.png' | relative_url }} class="icon-user csiro" alt="CSIRO"/>
                      <img src={{'/assets/icon-moes.jpeg' | relative_url}} class="icon-user moes" alt="MOES"/>
                      <img src={{'/assets/icon-esiwace.png' | relative_url}} class="icon-user esiwace" alt="ESIWACE"/>
                      <img src={{'/assets/icon-icm.png' | relative_url}} class="icon-user icm" alt="ICM"/>
                      <img src={{'/assets/icon-korea.png' | relative_url}} class="icon-user korea" alt="Korea"/>
                      <img src={{'/assets/icon-coecss.png' | relative_url}} class="icon-user coecss" alt="COECSS"/>
                      <img src={{'/assets/icon-mets.png' | relative_url}} class="icon-user mets" alt="METS"/>
                      <img src={{'/assets/icon-niwa.png' | relative_url}} class="icon-user niwa" alt="NIWA"/>
                      <img src={{'/assets/icon-saws.jpeg' | relative_url}} class="icon-user saws" alt="SAWS"/>
                      <img src={{'/assets/icon-isenes.png' | relative_url}} class="icon-user isenes" alt="ISENES"/>
                      <img src={{'/assets/icon-ncfas.png' | relative_url}} class="icon-user ncfas" alt="NCFAS"/>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>

    {%- include header.html -%}
    <script type="text/javascript">
      "use strict";
      
      // --- Progress
      
      /**
       * Get the next release from a set of milestones.
       * The next release is the milestone with the earliest due date.
       *
       * @param milestones: array of milestone objects
       * @return the milestone with the earliest due date, or null if milestones empty
       */
      function getNextRelease(milestones) {
          // Sort the milestones by due date
          if (!milestones) {
              console.error("Invalid milestones value")
              return null
          }
          if (milestones instanceof Object) {
              // GitHub API returns {documentation_url: "", message: ""} messages for rate limiting
              // see https://developer.github.com/v3/#rate-limiting
              // and https://github.com/cylc/cylc.github.io/issues/15
              if (Object.prototype.hasOwnProperty.call(milestones, 'message')) {
                  console.error(milestones.message)
              } else {
                  console.error("Invalid milestones value: " )
              }
          }
          milestones.sort((a, b) => a.due_on < b.due_on ? -1 : a.due_on > b.due_on ? 1 : 0)
          return milestones[0]
      }
      /**
       * Populate progress elements in the DOM.
       *
       * @param openIssues: integer with the number of open issues
       * @param closedIssues: integer with the number of closed issues
       * @param title: the title of the next release
       * @param link: URL link to the next release
        */
      function populateProgress(openIssues, closedIssues, title, link) {
          var workProgress = closedIssues * 100 / (openIssues + closedIssues);
      
          var milestoneVersion = document.getElementById("milestone-version");
          milestoneVersion.innerHTML = title;
      
          var milestoneURL = document.getElementById("milestone-url");
          milestoneURL.setAttribute('href', link);
      
          var progressBarInner = document.getElementById("progress");
          progressBarInner.style.width = workProgress + "%";
      
          var progress = document.getElementById("progress-info");
          progress.innerHTML = Math.floor(workProgress) + "%";
      
          var milestoneContainer = document.getElementById("milestone-container");
          milestoneContainer.style.opacity = "1";
          milestoneContainer.style.transition = ".7s ease-in";
      }
      /**
       * Retrieve the progress of the project.
       *
       * @param url: GitHub API project milestones URL
       * @return a Promise object that populates DOM elements, or returns the status text on error
       */
      function retrieveProgress(url) {
          return new Promise(function (resolve, reject) {
              var xhr = new XMLHttpRequest();
              xhr.open("GET", url);
      
              xhr.onload = function () {
                  var milestones = JSON.parse(this.response);
                  var nextRelease = getNextRelease(milestones);
      
                  if (nextRelease) {
                      var openIssues = nextRelease.open_issues;
                      var closedIssues = nextRelease.closed_issues;
                      var title = nextRelease.title;
                      var link = nextRelease.html_url.replace('s/next%20release', '/' + nextRelease.number);
                      populateProgress(openIssues, closedIssues, title, link);
                  }
              };
      
              xhr.onerror = reject(xhr.statusText);
              xhr.send();
          });
      }
      
      // --- Releases
      
      /**
       * Truncate text at desired limit of max words. The text is split by
       * white spaces. If the number of tokens produced is less than the
       * given limit, we use the lowest value to truncate. Will append
       * ellipsis if the text was truncated (i.e. words were discarded).
       *
       * @param text: text to be truncated
       * @param maxWords: integer defining the maximum number of words to be returned
       * @return truncated text, with ellipsis if words were discarded
       */
      function truncate(text, maxWords) {
          var tokens = text.trim().split(" ");
          var limit = Math.min(tokens.length, maxWords) - 1;
          var truncated = tokens.slice(0, limit);
          if (limit < tokens.length) {
              truncated.push("...");
          }
          return truncated.join(" ");
      }
      
      /**
       * Populate HTML elements with information about the latest release.
       *
       * @param cylcx: 'cylc8' or 'cylc7'
       * @param name: name of the release
       * @param link: URL of the release
       * @param publishedAt: raw text date as returned from the API
       */
      function populateLatestReleaseInformation(cylcx, name, link, publishedAt) {
      
          var latestReleaseName = document.getElementById(cylcx + "-latest-release-name");
          latestReleaseName.innerHTML = name;
      
          var latestReleaseURL = document.getElementById(cylcx + "-button");
          latestReleaseURL.href = link;
      
          // var latestReleaseDateTime = document.getElementById(cylcx + "-latest-release-pubdate-time");
          // latestReleaseDateTime.setAttribute("datetime", publishedAt);
      
          var latestReleaseDateText = document.getElementById(cylcx + "-latest-release-pubdate-text");
          latestReleaseDateText.innerHTML = `Released: ${publishedAt}`;
      }
      
      /**
       * Retrieve the releases of the project.
       *
       * @param url: GitHub API project releases URL
       * @param linkBaseUrl: Base URL to create links to releases
       * @return a Promise object that populates and creates DOM elements, or returns the status text on error
       */
      function retrieveReleases(url, linkBaseUrl) {
          return new Promise(function(resolve, reject) {
              const xhr = new XMLHttpRequest();
              xhr.open("GET", url);
              xhr.onload = function() {
                  const releases = JSON.parse(this.response);
                  var min = Math.min(releases.length, 15);
                  var foundCylc8Latest = false;
                  var foundCylc7Latest = false;
                  for (var i = 0; i < min; ++i) {
                      var release = releases[i];
                      var name = release.name;
                      var publishedAt = new Date(release.published_at).toLocaleString().split(',')[0];
                      var body = release.body;
                      var link = linkBaseUrl + release.tag_name;
                      // display latest release metadata
                      if (name.startsWith("cylc-7.8")) {
                          populateLatestReleaseInformation("cylc7", name, link, publishedAt);
                          foundCylc7Latest = true;
                      } else if (name.startsWith("cylc-flow-8")) {
                          populateLatestReleaseInformation("cylc8", name, link, publishedAt);
                          foundCylc8Latest = true;
                      };
                      if (foundCylc7Latest === true && foundCylc8Latest === true) {
                          break;
                      };
                  };
              };
              xhr.onerror = reject(xhr.statusText);
              xhr.send();
          });
      }
      
      // --- window.onload
      
      /**
       * Called when the browser loads the page. It will execute two promises asynchronously,
       * one to retrieve the progress, and the other to retrieve the releases.
       * If an error occurs, it will print the error to the browser console.
       */
      window.onload = function () {
          var milestonesUrl = "https://api.github.com/repos/cylc/cylc-flow/milestones";
          var releasesUrl = "https://api.github.com/repos/cylc/cylc-flow/releases";
          var releasesLinkBaseUrl = "https://github.com/cylc/cylc-flow/releases/tag/";
          Promise.all([
              retrieveProgress(milestonesUrl),
              retrieveReleases(releasesUrl, releasesLinkBaseUrl)
          ])
          .then(function() {
              // all good here!
          })
          .catch(function(error) {
              console.log(error);
          });
      };
      </script>

  </body>

</html>
