<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <div class="flex flex--vertical" aria-label="Content">
        <div class="container mapcontainer flex--vertical">
            {% include sites-world-map.html %}
        </div>  
      <div class="flex">
        <div class="container flex--vertical">
        {{content}}
        </div>
      </div>
    </div>

    {%- include header.html -%}

  </body>

</html>
